body {
    font-family: Arial, sans-serif;
}
header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}
header a {
    color: black;
    margin: 0 10px;
    text-decoration: none;
}
header a:hover {
    color: #4f4f4f;
}
.container {
    padding: 20px;
}
footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}